<%
  solde_class = if user.solde <= 0
                  'bg-danger'   # Rouge si négatif ou nul
                elsif user.solde < 100
                  'bg-warning'  # Orange si inférieur à 100€
                else
                  'bg-success'  # Vert sinon (supérieur ou égal à 100€)
                end
%>

<div class="card h-100 shadow">
  <div class="card text-white <%= solde_class %> h-100">
    <div class="card-body">
      <h3 class="card-title mb-5">Solde de votre compte</h3>
      <p class="card-text display-3"><%= number_to_currency(user.solde, unit: "€", separator: ",", delimiter: " ", format: "%n %u") %></p>
      <div class="d-flex gap-4 mt-5">
        <%= link_to "Créditer mon compte", credit_path, class: "btn btn-light" %>
        <%= link_to "Mon compte", user_path(user), class: "btn btn-outline-light text-white" %>
      </div>
      <%# Affiche un avertissement si le solde est négatif %>
      <% if user.solde <= 0 %>
        <p class="mt-3 small fst-italic">
          Attention, vous ne pouvez pas voler tant que votre solde est négatif
        </p>
      <% end %>
    </div>
  </div>
</div>
