<% content_for :title, "Agenda Avion" %>

<div class="container my-5">
  <h1 class="text-center mb-4">Agenda de l'avion</h1>
  <p class="lead text-center mb-5">
    Consultez ici les disponibilités de l'avion et les réservations existantes.
  </p>

  <div class="card">
    <div class="card-body">
      <p class="card-text text-muted">L'affichage de l'agenda de l'avion sera implémenté ici. Vous pourrez voir les créneaux de réservation pour l'avion F-HGBT.</p>
      <%# TODO: Intégrer un calendrier (par exemple, FullCalendar.js ou simple_calendar) %>
    </div>
  </div>
</div>
