<% content_for :title, "Contact" %>

<div class="container mt-5">
<br><br>
  <div class="row justify-content-center">
    <!-- Informations de contact -->
    <div class="col-md-6 col-lg-5 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h4 class="card-title mb-4">Coordonnées</h4>
          <p>
            <strong>Adresse :</strong><br>
            123 Rue du Gossip, 75000 Paris, France
          </p>
          <p>
            <strong>Téléphone :</strong><br>
            +33 1 23 45 67 89
          </p>
        </div>
      </div>
    </div>
  </div>
<div class="container my-5 text-center">
  <h1>Contactez-nous</h1>
  <hr class="my-4">
  <p class="lead">
    Pour toute question ou demande d'information, n'hésitez pas à nous envoyer un e-mail à l'adresse suivante :
  </p>
  <a href="mailto:contact@eventbrite.com" class="btn btn-primary btn-lg">contact@bastair.fr</a>
</div>
