<% content_for :title, "La Flotte" %>

<div class="container my-5">
  <div class="text-center">
    <h1 class="mb-4">Notre Flotte</h1>
    <p class="lead">
      Découvrez l'avion dernière génération de Bast'Air, parfaitement entretenus pour votre sécurité et votre plaisir de voler.
    </p>
  </div>
  <hr class="my-5">

  <div class="row">
    <!-- Avion 1 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card h-100">
        <%= image_tag '/images/avion1.jpg', class: 'card-img-top', alt: 'B23' %>
        <div class="card-body">
          <h5 class="card-title">Bristell B23</h5>
          <p class="card-text">
            L'avion-école par excellence. Fiable, sûr et facile à piloter, le B23 est l'appareil idéal pour débuter votre formation de pilote. Rapide et équipé d'une avionique moderne, et en plus un tarif compétitif.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">2 places - Monomoteur à pistons</small>
        </div>
      </div>
    </div>

  </div>
</div>
