<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Annulation d'un événement</h1>

    <p>Bonjour <%= @participant.prenom %>,</p>

    <p>
      Nous vous informons que l'événement <strong>"<%= @event_title %>"</strong> auquel vous étiez inscrit a malheureusement été annulé.
    </p>

    <p>L'équipe de BastAir.</p>
  </body>
</html>