<% content_for :title, "Modifier l'événement" %>

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-8">
      <div class="card shadow-sm">
        <div class="card-header"><h2>Modifier l'événement : <%= @event.title %></h2></div>
        <div class="card-body p-4"><%= render 'form', event: @event %></div>
      </div>
    </div>
  </div>
</div>
