<% content_for :title, "Modifier la transaction" %>

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="mb-0">Modifier la transaction</h1>
        <%= link_to 'Retour à la liste', transactions_path, class: 'btn btn-secondary' %>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>
