<footer class="footer bg-primary text-white pt-4 pb-3">
    <div class="container">
        <div class="row">
            <!-- Colonne 1: Marque et description -->
            <div class="col-md-4 mb-2">
                <h5 class="text-uppercase fw-bold">BastAir</h5>
                <p class="text-white-50">
                    Votre partenaire pour l'aviation de loisir. Découvrez nos outils et notre communauté.
                </p>
            </div>

            <!-- Colonne 2: Liens utiles -->
            <div class="col-md-4 mb-2">
                <h5 class="text-uppercase fw-bold">Liens utiles</h5>
                <ul class="list-unstyled">
                    <li><%= link_to 'FAQ', faq_path, class: 'footer-link' %></li>
                    <li><%= link_to 'Contact', contact_path, class: 'footer-link' %></li>
                    <li><%= link_to 'Notre équipe', team_path, class: 'footer-link' %></li>
                    <li><%= link_to 'Politique de Confidentialité', privacy_policy_path, class: 'footer-link' %></li>
                </ul>
            </div>

            <!-- Colonne 3: Réseaux sociaux -->
            <div class="col-md-4 mb-2">
                <h5 class="text-uppercase fw-bold">Suivez-nous</h5>
                <a href="#" class="social-icon me-3"><i class="bi bi-facebook"></i></a>
                <a href="#" class="social-icon me-3"><i class="bi bi-twitter-x"></i></a>
                <a href="#" class="social-icon"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>

        <hr class="bg-white-50">
        
        <div class="text-center text-white-50">
            <small>Copyright &copy; 2025 - <span class="current-year"></span> BastAir. Tous droits réservés.</small>
        </div>
    </div>
</footer>